{
	"plugins": ["prettier-plugin-jsdoc", "@trivago/prettier-plugin-sort-imports"],
	"jsdocCapitalizeDescription": false,
	"jsdocSeparateReturnsFromParam": true,
	"jsdocSingleLineComment": false,
	"tsdoc": true,
	"importOrder": [
		"^node:(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^(?!.*/src(?:/|$)).*/__testutils__(?:/|$)",
		"^(?!.*/src(?:/|$)).*/__fixtures__(?:/|$)",
		"^(?!.*/src(?:/|$)).*/lib(?:/|$)",
		"^(?!.*/src(?:/|$)).*/types(?:/|$)",
		"^(?!.*/src(?:/|$)).*/errors(?:/|$)",
		"^(?!.*/src(?:/|$))../../../../../",
		"^(?!.*/src(?:/|$))../../../../",
		"^(?!.*/src(?:/|$))../../../",
		"^(?!.*/src(?:/|$))../../",
		"^(?!.*/src(?:/|$))../",
		"^(?!.*/src(?:/|$))./(.*/)+",
		"^(?!.*/src(?:/|$))./",
		"/src(?:/|$)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"printWidth": 80,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf"
}
