language: node_js
node_js:
- '10'
- '12'
- '14'
- '15'
- '16'
- '18'
os:
  - linux

script:
  - npm test

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: ./docs
  on:
    branch: master
