name: ci

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20, 22, 24]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run lint
        if: matrix.node == 24
      - run: npm run unit
        env:
          E2E_PRISMIC_EMAIL: ${{ secrets.E2E_PRISMIC_EMAIL }}
          E2E_PRISMIC_PASSWORD: ${{ secrets.E2E_PRISMIC_PASSWORD }}
      - run: npm run build
        if: matrix.node == 24
      - uses: codecov/codecov-action@v4
        if: matrix.node == 24

  types:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        typescript: ["5.4", "5.6", "5.7", "5.8", "5.9"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm install --no-save typescript@${{ matrix.typescript }} && npx tsc --version
      - run: npm run types
