name: publish

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch:
    inputs:
      version_type:
        description: "Version type to release"
        required: true
        type: "choice"
        options:
          - patch
          - minor
          - major

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: "Verify branch"
        run: |
          if [ "${{ github.ref_name }}" != "main" ]; then
            echo "Releasing from a branch other than main is not allowed."
            exit 1
          fi
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - run: |
          git config user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git config user.name "${GITHUB_ACTOR}"
      - run: npm ci
      - run: npx commit-and-tag-version --release-as ${{ github.event.inputs.version_type }}
      - run: git push --follow-tags origin ${{ github.ref_name }}
      - run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
